{% extends "baseA.html" %}

{% block titulo %} Agregar nuevo experto {% endblock %}

{% block contenido %} 
    <div class="card">
        <div class="card-header">
            <a href="{{ regresar }}" class="btn__return"><i class="fa-solid fa-circle-arrow-left"></i></a>
            Agregar un experto
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos del experto</h4>

            {% include 'usuarios/experto/form.html' %}
        </div>
    </div>
{% endblock %}