desktop.ini
custom_data.yaml
yolov7-tiny-custom.yaml
DJSafeCrops/
SafeCrops/datasets/
SafeCrops/modelos/
weights/SAM/
weights/Transformer/
weights/YOLOv5/
weights/YOLOv7/
SafeCrops/weights/
reportesPDF/
MODELO_YOLOv7/runs/
SafeCrops/AppSafeCrops/MODELO_SAM/*.pth
