<link rel="stylesheet" href="../static/css/base.css">

<form enctype="multipart/form-data" method="post">
  {% csrf_token %} <!-- Token de seguridad -->
  {% for campo in formularioYOLOv7 %} <!-- Recorremos los campos del formulario -->

    <div class="mb-3"> <!-- Div para cada campo -->

      <label for="" class="form-label">{{ campo.label }} yolov7</label>
      {% if campo.name == 'datasetModelo_y7' %}
        {{ campo.form.datasetModelo_y7 }}
      {% elif campo.name == 'batch_size_y7' %}
        {{ campo.form.batch_size_y7 }}
      {% else %}
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="" /> 
      {% endif %}
    </div>

    <div class="col-12 help-text">{{ campo.errors }}</div> <!-- Mostramos los errores del campo -->
  
  {% endfor %}

  <input name="" id="" class="btn btn-success" type="submit" value="Enviar información"> <!-- Botón para enviar el formulario -->
  <a name="" id="" class="btn btn-primary" href="{% url 'modelos' %}" role="button">Cancelar</a> <!-- Botón para cancelar el formulario -->
</form>