<link rel="stylesheet" href="../static/css/base.css">

<form enctype="multipart/form-data" method="post">
  {% csrf_token %} <!-- Token de seguridad -->
  {% for campo in formulario %} <!-- Recorremos los campos del formulario -->

    <div class="mb-3"> <!-- Div para cada campo -->

      <label for="" class="form-label">{{ campo.label }}</label>
      <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="" /> 
    
    </div>

    <div class="col-12 help-text">{{ campo.errors }}</div> <!-- Mostramos los errores del campo -->
  
  {% endfor %}

  <input name="" id="" class="btn btn-success" type="submit" value="Enviar información"> <!-- Botón para enviar el formulario -->
  <a name="" id="" class="btn btn-primary" href="{% url 'enfermedades' %}" role="button">Cancelar</a> <!-- Botón para cancelar el formulario -->
</form>