<link rel="stylesheet" href="../static/css/base.css">

<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}

    <div class="mb-3">

      <label for="" class="form-label">{{ campo.label }}</label>
      {% if campo.name == 'cultivoEnfermedad' %}
      <select class="form-select" name="{{ campo.name }}" id="" aria-label="Default select example">
        {% for cultivo in cultivos %}
          <option value="{{ cultivo.id_Cultivo }}" {% if cultivo.id == campo.value %} selected {% endif %}>{{ cultivo.nombreCultivo }}</option>
        {% endfor %}
      </select>
      {% else %}
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value }}" />
      {% endif %}

    </div>

    <div class="col-12 help-text">{{ campo.errors }}</div>

  {% endfor %}
  
  <input name="" id="" class="btn btn-success" type="submit" value="Enviar información">
  <a name="" id="" class="btn btn-primary" href="{% url 'enfermedades' %}" role="button">Cancelar</a>
</form>