{% extends "baseA.html" %}

{% block titulo %} Lista de Enfermedades {% endblock %}

{% block contenido %} 

<link rel="stylesheet" href="../static/css/index.css">

    <div class="card">
        <div class="card-header">
            <div class="title__header__index">
                <a href="{{ regresar }}" class="btn__return"><i class="fa-solid fa-chevron-left"></i></a>
                <i class="fa-solid fa-graduation-cap"></i>
                <h4 class="">Enfermedades</h4>
            </div>
            <a name="" id="" class="btn btn-warning" href="{% url 'crearEnfermedad' %}" role="button"><i class="fa-solid fa-circle-plus"></i> Nueva</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Enfermedad</th>
                            <th scope="col">Cultivo</th>
                            <th scope="col">Despripción</th>
                            <th scope="col">Tratamiento</th>
                            <th scope="col" class="col-md-2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enfermedad in enfermedades %}
                            <tr class="">
                                <td>{{ enfermedad.id_Enfermedad }}</td>
                                <td>{{ enfermedad.nombreEnfermedad }}</td>
                                <td>{{ enfermedad.cultivoEnfermedad }}</td>
                                <td>{{ enfermedad.descripcionEnfermedad }}</td>
                                <td>{{ enfermedad.curaEnfermedad }}</td>
                                <td>
                                    <div class="tooltip__div">
                                        <div class="tooltip">
                                            <span class="tooltip__text">Editar</span>
                                            <i class="fa-solid fa-sort-down"></i>
                                        </div>
                                        <a name="" id="" class="btn btn-info" href="{% url 'editarEnfermedad' enfermedad.id_Enfermedad%}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                    </div>
                                    <div class="tooltip__div">
                                        <div class="tooltip">
                                            <span class="tooltip__text">Eliminar</span>
                                            <i class="fa-solid fa-sort-down"></i>
                                        </div>
                                        <a name="" id="" class="btn btn-danger btnDelete" href="{% url 'eliminarEnfermedad' enfermedad.id_Enfermedad%}" role="button"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No hay registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>

{% endblock %}