{% extends "baseA.html" %}

{% block titulo %} Lista de Cultivos {% endblock %}

{% block contenido %} 

<link rel="stylesheet" href="../static/css/index.css">

    <div class="card">
        <div class="card-header">
            <div class="title__header__index">
                <a href="{{ regresar }}" class="btn__return"><i class="fa-solid fa-chevron-left"></i></a>
                <i class="fa-solid fa-graduation-cap"></i>
                <h4 class="">Modelos</h4>
            </div>
            <a name="" id="" class="btn btn-warning" href="{% url 'seleccionarArquitectura' %}" role="button"><i class="fa-solid fa-circle-plus"></i> Nuevo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ruta Pesos</th>
                            <th scope="col"># Epocas</th>
                            <th scope="col">Batch Size</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for modelo in modelos %}
                            <tr class="">
                                <td>{{ modelo.id_Modelo_y7 }}</td>
                                <td>{{ modelo.nombreModelo_y7 }}</td>
                                <td>{{ modelo.pesosModelo_y7 }}</td>
                                <td>{{ modelo.epocas_y7 }}</td>
                                <td>{{ modelo.batch_size_y7 }}</td>
                                <td>
                                    <div class="tooltip__div">
                                        <div class="tooltip">
                                            <span class="tooltip__text">Editar</span>
                                            <i class="fa-solid fa-sort-down"></i>
                                        </div>
                                        <a name="" id="" class="btn btn-info" href="{% url 'editarModelo_YOLOv7' modelo.id_Modelo_y7%}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                    </div>
                                    <div class="tooltip__div">
                                        <div class="tooltip">
                                            <span class="tooltip__text">Eliminar</span>
                                            <i class="fa-solid fa-sort-down"></i>
                                        </div>
                                        <a name="" id="" class="btn btn-danger btnDelete" href="{% url 'eliminarModelo_YOLOv7' modelo.id_Modelo_y7%}" role="button"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No hay registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>

{% endblock %}