{% extends "baseA.html" %}

{% block titulo %} Editar tester {% endblock %}

{% block contenido %} 
    <div class="card">
        <div class="card-header">
            <a href="{{ regresar }}" class="btn__return"><i class="fa-solid fa-circle-arrow-left"></i></a>
            Editar informacion del tester
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos del tester</h4>

            {% include 'usuarios/tester/formEdit.html' %}
        </div>
    </div>
{% endblock %}