<link rel="stylesheet" href="../static/css/base.css">

<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formularioTester %}

    <div class="mb-3">

      {% if campo.name != 'userType' %}
        <label for="" class="form-label">{{ campo.label }}</label>
      {% endif %}
      
      {% if campo.name == 'fechaNac' %}
          <input type="date" class="form-control" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value|date:'Y-m-d' }}" />

        {% elif campo.name == 'userType' %}
          <input type="hidden" class="form-control" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="Tester" />  

        {% elif campo.name == 'user' %}
          {{ campo.form.user }}
          
        {% else %}
          <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value }}" />
    
      {% endif %}

      {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br>
        <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="100" height="100" alt="">

      {% endif %}

    </div>

    <div class="col-12 help-text">{{ campo.errors }}</div>

  {% endfor %}

  <!-- Formulario de usuario -->
  {% for campo in formularioUsuario %}

    <div class="mb-3">

      {% if campo.field.widget.input_type != 'password' %}
        <label for="" class="form-label">{{ campo.label }}</label>
        <input type="{{ campo.field.widget.input_type }}" class="form-control" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value }}" />
      
      {% endif %}

    </div>

    <div class="col-12 help-text">{{ campo.errors }}</div>

  {% endfor %}

  <input name="" id="" class="btn btn-success" type="submit" value="Enviar información">
  <a name="" id="" class="btn btn-primary" href="{% url 'testers' %}" role="button">Cancelar</a>
</form>