<!--
    Página utilizada para desplegar el formulario de edición de usuarios
-->

<link rel="stylesheet" href="../static/css/base.css">
<form enctype="multipart/form-data" method="post">
  {% csrf_token %} <!--Token de seguridad-->
  {% for campo in formulario %} <!--Recorre el formulario-->
    <div class="mb-3"> 

      <label for="" class="form-label">{{ campo.label }}</label> <!--Muestra el label del campo-->

      {% if campo.name == 'username' %} <!--Si el nombre del campo es igual a username-->
        <input
          type="{{ campo.field.widget.input_type }}"
          class="form-control" 
          name="{{ campo.name }}" 
          id="" 
          aria-describedby="helpId" 
          placeholder="{{ campo.label }}" 
          value="{{ campo.value }}"
        /> <!--Muestra el campo de texto-->
        {% else %} <!--Si no es username-->
          <input 
            type="{{ campo.field.widget.input_type }}"
            class="form-control" 
            name="{{ campo.name }}" 
            id="" 
            aria-describedby="helpId" 
            placeholder="{{ campo.label }}" 
            value=""
          /> <!--Muestra el campo de texto-->
      {% endif %}
    </div>
    <div class="col-12 help-text">{{ campo.errors }}</div> <!--Muestra los errores del campo-->
  {% endfor %} <!--Fin del recorrido del formulario-->
  <input name="" id="" class="btn btn-success" type="submit" value="Enviar"> <!--Botón de envío-->
  <a name="" id="" class="btn btn-primary" href="{% url 'usuarios' %}" role="button">Cancelar</a> <!--Botón de cancelar-->
</form>