{% extends "baseA.html" %}

{% block titulo %} Lista de Administradores {% endblock %}

{% block contenido %} 

<link rel="stylesheet" href="../static/css/index.css">

    <div class="card">
        <div class="card-header">
            <div class="title__header__index">
                <a href="{{ regresar }}" class="btn__return"><i class="fa-solid fa-chevron-left"></i></a>
                <i class="fa-solid fa-graduation-cap"></i>
                <h4 class="">Administradores</h4>
            </div>
            <a name="" id="" class="btn btn-warning" href="{% url 'crearA' %}" role="button"><i class="fa-solid fa-circle-plus"></i> Nuevo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <!-- <th scope="col">ID</th> -->
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">FechaNac</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Usuario</th>
                            <th scope="col" class="col-md-2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for administrador in administradores %}
                            <tr class="">
                                <!-- <td>{{ administrador.id_Administrador }}</td> -->
                                <td>{{ administrador.nombre }} {{ administrador.apellidoP }} {% if administrador.apellidoM != None %} {{ administrador.apellidoM }} {% endif %}</td>
                                <td>{{ administrador.fechaNac|date:'Y-m-d' }}</td>
                                <td>{{ administrador.correo }}</td>
                                <td>
                                    <img src="{{ administrador.imagen.url }}" width="70" height="70">
                                </td>
                                <td>{{ administrador.user.username }}</td>
                                <td>
                                    <div class="tooltip__div">
                                        <div class="tooltip">
                                            <span class="tooltip__text">Editar</span>
                                            <i class="fa-solid fa-sort-down"></i>
                                        </div>
                                        <a name="" id="" class="btn btn-info" href="{% url 'editarA' administrador.id_Administrador administrador.user_id %}" role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                    </div>
                                    <div class="tooltip__div">
                                        <div class="tooltip">
                                            <span class="tooltip__text">Eliminar</span>
                                            <i class="fa-solid fa-sort-down"></i>
                                        </div>
                                        <a name="" id="" class="btn btn-danger btnDelete" href="{% url 'eliminarA' administrador.id_Administrador%}" role="button"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="10">No hay registros</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>

{% endblock %}